.venv/
app/__pycache__/
app/static/archive
app/static/health/
app/static/improvements/
app/static/stars/
app/static/units/
app/testing/__pycache__/
flask_profile.prof
gamedata/
app/static/images/
app/static/back.png
app/static/background_default.png
app/static/background-strips-alternate.png
app/static/background-strips.png
app/static/blank.png
app/static/button-1.png
app/static/button-2.png
app/static/button-3.png
app/static/create.png
app/static/flask.png
app/static/home-white.png
app/static/home.png
app/static/lease.png
app/static/mace.png
app/static/missile.png
app/static/new-background.png
app/static/nuke.png
app/static/paper.jpg
app/static/pattern.png
app/static/pattern.psd
app/static/resolve.png
app/static/title.png
app/static/united_states.png
app/static/UWS-1.png
app/static/UWS-2.png
app/static/uws-background-1.png
app/static/uws-background-2.png
app/static/UWS.psd
app/static/war.png
app/static/warning.png
app/static/background-blank.png
app/static/line-chart.png
app/static/clipboards.png
app/static/handshake.png
/.vscode
/scenarios/standard/__pycache__
/app/alliance/__pycache__
/app/nation/__pycache__
/app/game/__pycache__
/app/truce/__pycache__
/app/scenario/__pycache__