header {
    background-color: #0f4660;
    margin: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
.left-header {
    display: flex;
    align-items: center;
}
.right-header {
    display: flex;
    align-items: center;
}
#title {
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}
body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("/static/images/background-blank.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

.flex-container {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.box {
    width: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: rgba(67, 67, 67, 0.7);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2), 0 15px 40px rgba(0, 0, 0, 0.05);
}
.box .top {
    padding: 8px;
    text-align: left;
    background-color: rgba(42, 42, 42, 0.7);
    font-size: 28px;
    font-weight: bold;
}
.box .row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.box .row-spaced {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.box .cell {
    padding: 8px;
    text-align: left;
    font-size: 18px;
}

.box .bold {
    font-weight: bold;
}
.box .short {
    padding: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.box .shortest {
    padding: 8px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.box .small {
    font-size: 14px;
}
.box .hasline {
    border-bottom: 1px solid rgba(42, 42, 42, 0.7);
}
.box .overflow {
    flex: 1 1 0%;
    min-width: 0;
    white-space: nowrap;
    overflow-x: visible;
}
.box .left {
    text-align: left;
}
.box .center {
    text-align: center;
}
.box .right {
    text-align: right;
}

.box .record-section {
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(42, 42, 42, 0.7);
}
.box .modifier-section {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 4px;
    margin-bottom: 2px;
}