<!DOCTYPE html>
<html>


<style>
:root {
    --tree-height: 175px;
    --tech-width: 450px;
    --h1-margin-bottom: 30px;
    --tree-margin-bottom: 75px;
}
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tech-styling.css') }}">


<title>{{ page_title }}</title>


<header>
    <div class="left-header">
        <p id="title">{{ page_title }}</p>
    </div>
    <div class="right-header">
        <a href="/"><img src="{{ url_for('static', filename='home-white.png') }}" style="width:36px;"></a>
    </div>
</header>


<body>

{% for tree_key in dict %}
    
    {% set tree_colors_list = dict[tree_key]["Colors"] %}
    {% set tech_table = dict[tree_key]["Table"] %}

    <h1>{{ tree_key }}</h1>
    {% for row, column in tech_table.items() %}
        
        {% set tree_color = tree_colors_list[loop.index0] %}
        {% set tree_id = tree_key+row %}
        <div class="tree" style="background-color: {{ tree_color }}" id="{{ tree_id }}">
        
        {% for tech_dict in column %}
            {% if tech_dict %}

                {% set table_color = tree_color[:-2] %}
                {% set complement_color = complement[table_color] %}
                {% set tech_cost = "05" if tech_dict["Cost"] == 5 else tech_dict["Cost"] %}

                <table class="tech-table" style="background-color: {{ table_color }}">
                    <tr height=45%>
                        <td class="name">{{ tech_dict["Name"] }}</td>
                        <td class="cost" style="color: {{ complement_color }};padding-right: 5px">{{ tech_cost }}</td>
                    </tr>
                    <tr height=45% style="background-color: {{ complement_color }}">
                        <td class="desc" colspan=2 style="padding-left: 5px;padding-right: 5px;">{{ tech_dict["Description"] }}</td>
                    </tr>
                    <tr height=5%>
                        <td></td>
                    </tr>
                </table>

            {% else %}

            <table class="tech-table" style="visibility: hidden;">
            </table>

            {% endif %}
        {% endfor %}
        </div>

        <script>
        element = document.getElementById("{{ tree_id }}");
        column_js = {{ column|tojson }};
        if (column_js.every(colElement => colElement === null)) {
            element.style.visibility = "hidden";
        }
        </script>

    {% endfor %}

{% endfor %}

</body>


</html>