<!DOCTYPE html>

<html>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />


<link rel="stylesheet" href="{{ url_for('static', filename='css/default-blank.css') }}">
<style>
.left-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.right-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
</style>


<title>Resource Market</title>


<header>
    <div class="left-header">
        <p id="title"> {{ page_title }} </p>
    </div>
    <div class="right-header">
        <a href="/"><img src="{{ url_for('static', filename='images/home-white.png') }}" style="width:36px;"></a>
    </div>
</header>


<body>
<div class="flex-container">


    <div class="left-container">


        <div class="box">

            <div class="top">Market Prices</div>

            <div class="row hasline">
                <div class="cell bold" style="flex: 3 1 0%;">Resource</div>
                <div class="cell bold" style="flex: 2 1 0%;">Current Price</div>
                <div class="cell bold" style="flex: 2 1 0%;">Base Price</div>
                <div class="cell bold" style="flex: 2 1 0%;">Bought</div>
                <div class="cell bold" style="flex: 2 1 0%;">Sold</div>
            </div>

            {% for resource_name, resource_data in prices_dict.items() %}
                <div class="row hasline">
                    <div class="cell" style="flex: 3 1 0%;">{{ resource_name }}</div>
                    <div class="cell" style="flex: 2 1 0%;">{{ resource_data["Current Price"] }}</div>
                    <div class="cell" style="flex: 2 1 0%;">{{ resource_data["Base Price"] }}</div>
                    <div class="cell" style="flex: 2 1 0%;">{{ resource_data["Bought"] }}</div>
                    <div class="cell" style="flex: 2 1 0%;">{{ resource_data["Sold"] }}</div>
                </div>
            {% endfor %}

        </div>


        <div class="box">

            <div class="top">Calculating Buy and Sell Prices</div>

            <div class="row">
                <div class="cell" style="width: 100%">
                    Resource prices begin at a set base price, but will fluctuate based on supply and demand.
                    <br><br><b>Buy Price:</b> The buying price of a resource is simply the current price listed in the table above. It is calculated from all resource market actions from the last 12 turns using the following formula:
                    <br>&emsp;buy_price = base_price * (total_bought_last_12 + 25) / (total_sold_last_12 + 25)
                    <br><br><b>Sell Price:</b> The selling price of a resource is half of the buying price, rounded to the nearest hundredth.
                </div>
            </div>

        </div>


    </div>


    <div class="right-container">


        <div class="box">

            <div class="top">Transaction Log</div>

            <div class="row hasline">
                <div class="cell bold" style="flex: 1 1 0%;">Turn</div>
                <div class="cell bold" style="flex: 3 1 0%;">Nation</div>
                <div class="cell bold" style="flex: 2 1 0%;">Action</div>
                <div class="cell bold" style="flex: 2 1 0%;">Resource</div>
            </div>

            {% if records_flag %}
                {% for record in records_list %}
                    <div class="row">
                        <div class="cell hasline" style="flex: 1 1 0%;">{{ record[0] }}</div>
                        <div class="cell overflow hasline" style="flex: 3 1 0%;">{{ record[1] }}</div>
                        <div class="cell hasline" style="flex: 2 1 0%;">{{ record[2] }}</div>
                        <div class="cell hasline" style="flex: 2 1 0%;">{{ record[3] }} {{ record[4] }}</div>
                    </div>
                {% endfor %}
            {% else %}
            <div class="row">
                <div class="cell" style="width: 100%">There are no recent resource market transactions to display.</div>
            </div>
            {% endif %}
            

        </div>


    </div>


</div>
</body>


</html>